.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.pass-wrapper input {
  padding: 0.5rem;
  border-radius: 0.3em;
  border: 1px solid black;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  margin: 0 5%;
}

i {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: $box-shadow;
}
.icon:hover {
  color: $box-shadow;
  cursor: pointer;
}

.icon {
  color: black;
}
